@font-face {
    font-family: "Panefresco500wtRegular";
    src: url("/fonts/Panefresco500wtRegular.eot"); /* IE9 */
    src: url("/fonts/Panefresco500wtRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Panefresco500wtRegular.woff") format("woff"), /* chrome, firefox */
    url("/fonts/Panefresco500wtRegular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/Panefresco500wtRegular.svg#Panefresco500wtRegular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


