.hidden.menu {
  display: none;
}

.ui.vertical.segment { background: url('/img/paper_web.jpg') }

.ui.inverted.segment { background-image: url("/img/self-publishing.jpg"); background-attachment: fixed; background-size: cover}
.ui.secondary.pointing.menu { border: none; }
.ui.icon.header { max-width: 100%; }
.ui.icon.header .icon { max-width: 100%; }
.ui.secondary.inverted.pointing.menu .active.item { border-color: #ff8e1f; }
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.ui.secondary.inverted.pointing.menu { border: none; }
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 3em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

/*
*Style diar
*/
.ui.icon.header .ui.icon.image{
	width: 128px;
	height: 128px;
}

a.hint--bottom { text-decoration: underline; font-weight: 700; }


#morphext1 { width: 240px; display: inline-block; }
#morphext2 { width: 150px; display: inline-block; }

#callActAnimate {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

#comingSoon { position: fixed; text-align: right; padding:5px; font-size: 2.5em; }
#comingSoon:after { border-right: 5em solid transparent; border-bottom: 5em solid transparent; border-right-color:inherit; }

svg .icon { font-family: Icons; }
.ui.mini.stat.image { width: 40px; }
.ui.mini.stat.image .ui.label { display: inline-flex; margin: 0 auto; padding: 0.3em; font-weight: 700; }
.ui.image svg.circliful { width: 200%; margin: -20px; max-width: 200%; }
.card .header { width: 105% }
.card .menu { font-size: 0.8em; }
.card .ui.menu .item { color: #888 }

#orderProgress { margin: 1em 0 0; }
#detailCampaign.ui.celled.grid>.row>.column { padding: 0; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
	display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
	display: none;
  }
  .secondary.pointing.menu .toc.item {
	display: block;
  }
  .masthead.segment {
	min-height: 350px;
  }
  .masthead h1.ui.header {
	font-size: 2em;
	margin-top: 1.5em;
  }
  .masthead h2 {
	margin-top: 0.5em;
	font-size: 1.5em;
  }

	#morphext1 { width: 160px; }
	#morphext2 { width: 90px; }
	#comingSoon { position: fixed; text-align: right; padding:5px; font-size: 1.5em }
}
